

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { padding: 20px 0; }
input { text-align: center; }

.row { margin-bottom: 20px; }
.alert { margin-bottom: 0; }

h1.massive { font-size: 130px; }

.edit-btn { position: absolute; top: 0; right: 15px; }

.input-group-addon.btn-pad { padding-top: 5px; padding-bottom: 5px; display: none; }
.edit .input-group-addon.btn-pad { display: table-cell; }

.edit-hidden { display: none; }
.edit .edit-hidden { display: block; }
.edit .hide-on-edit { display: none; }

.table-striped > tbody > tr > td { vertical-align: middle; }

.kill-count { padding-right: 20px; }

#add-team-errors ul { padding-left: 15px; }

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; 
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

@media (max-width: 768px) {
	.nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
	.nav-tabs.nav-justified > li > a { border-bottom: 1px solid #ddd; border-radius: 4px 4px 0 0; margin-bottom: 0; }
	.nav-tabs.nav-justified >.active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus { border-bottom: 0; }
  .team-name { max-width: 0; }
}

.uppercase { text-transform: uppercase; }

input.error { border-color: #a94442;}

.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.team-name { max-width: 80px; }








